# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# =================================================
# ADIÇÕES RECOMENDADAS ABAIXO
# =================================================

# Arquivos de dependências e cobertura de testes
# Ignorar o pubspec.lock permite que cada desenvolvedor obtenha as versões
# compatíveis mais recentes ao executar `flutter pub get`.
pubspec.lock
coverage/

# Arquivos sensíveis e de configuração do Firebase
# Estes ficheiros são gerados automaticamente ou contêm chaves.
# NUNCA devem ser enviados para o repositório.
/lib/firebase_options.dart
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist

# Ficheiros de configuração local do
.vscode/
android/
coverage/
/android/key.properties
/android/local.properties
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat

# Ficheiros de configuração local do iOS
/ios/Pods/
/ios/Podfile.lock
/ios/.symlinks/
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcshareddata/
/ios/Flutter/ephemeral/

# Ficheiros temporários de desenvolvimento
# Adicione aqui o seu script de povoamento para não o enviar para o repositório.
lib/ui/screens/dev_utils_page.dart

